{{!-- this is the handlebars file for the form, that'll allow the user to --}}
{{!-- enter their offers and requests --}}

<div id="skill_offer_div">


<h2>Skill you want to offer (choose one) :</h2>

<form>

  <select name="skills_offer" id="offer">
  {{#each skills}}
      <option value="{{this.dataValues.id}}">{{this.dataValues.skill_name}}
      </option>
  {{/each}}
  </select>
</div>
<hr>
<div id="skill_wanted_div">
  <h2>Skills you need (chose as many as you like) :</h2>
  {{#each skills}}
    <input type="checkbox" id="{{this.dataValues.id}}" value="{{this.dataValues.skill_name}}">{{this.dataValues.skill_name}}<br>
  {{/each}}

  <button type="submit" id="signin">Head to my homepage</button>
</div>


</form>
