{{!-- this is the handlebars file for the form, that'll allow the user to --}}
{{!-- enter their offers and requests --}}

<div id="skill_offer_div">


<h2 id="skill_title">Skill you want to offer (choose one) :</h2>

<form>

  <select name="skills_offer" id="offer">
  {{#each skills}}
      <option value="{{this.dataValues.id}}">{{this.dataValues.skill_name}}
      </option>
  {{/each}}
  </select>
</div>
{{!-- <hr> --}}
<div class="row">
  <div id="skill_wanted_div" class="">
    <h2>Skills you need (chose as many as you like) :</h2>
    <div class="">
      {{#each skills}}
      <div class="skills_existing">
        <p class="">{{this.dataValues.skill_name}}</p>
          <input class="input_box" type="checkbox" id="{{this.dataValues.id}}" value="{{this.dataValues.skill_name}}"><br>
      </div>
      {{/each}}
    </div>
  </div>

<div class="">
    <button type="submit" id="signin">Head to my homepage</button>
</div>
</div>


</form>
